<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xingzhi.holographicteaching">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.AppContext"
        android:allowBackup="true"
        android:appComponentFactory="any"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory">
        <activity android:name=".ui.activity.RankingActivity"></activity>
        <activity
            android:name=".ui.activity.AllOpenServiceActivity"
            android:theme="@style/ActivityDialogStyle" />
        <activity android:name=".ui.activity.GameGiftGetActivity" />
        <activity
            android:name=".ui.activity.GameGiftActivity"
            android:theme="@style/ActivityDialogStyle" />
        <activity android:name=".ui.activity.PartnerOrderActivity" />
        <activity android:name=".ui.activity.PartnerActivity" />
        <activity android:name=".ui.activity.AccountBillActivity" />
        <activity android:name=".ui.activity.WdHistoryActivity" />
        <activity android:name=".ui.activity.WithdrawActivity" />
        <activity android:name=".ui.activity.WithdrawBindActivity" />
        <activity android:name=".ui.activity.WidrawExplainActivity" />
        <activity android:name=".ui.activity.ActivateCodeActivity" />
        <activity android:name=".ui.activity.ActivateVipActivity" />
        <activity android:name=".ui.activity.GameDetailActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.SmsLoginActivity" />
        <activity android:name=".ui.activity.ForgetPwdActivity" />
        <activity android:name=".ui.activity.RegistActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.ModifyPwdActivity" />
        <activity android:name=".ui.activity.BindPhoneActivity" />
        <activity android:name=".ui.activity.MineCenterActivity" />
        <activity android:name=".ui.activity.MsgActivity" />
        <activity android:name=".ui.activity.GameCenterActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>